<mat-toolbar color="primary">
  <span class="c-p app-title">
    <img class="notes-logo" src="assets/memo.png" alt="Notes logo">
    <span>My Notes</span>
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>view_agenda</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<div class="notes-container">
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
  <app-note-card></app-note-card>
</div>