<mat-toolbar color="primary">
  <span class="c-p app-title">
    <img class="notes-logo" src="assets/memo.png" alt="Notes logo">
    <span>My Notes</span>
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>view_agenda</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<ngx-masonry [options]="{gutter: 15}">
  <div *ngIf="!notes?.length" [style.textAlign]="'center'" [style.color]="'white'">
    Add your first note!
  </div>
  <div ngxMasonryItem class="masonry-item" *ngFor="let note of notes">
   <app-note-card 
   (edit)="openEditor($event)" 
   (delete)="deleteNote($event)"
   [note]="note"></app-note-card>
 </div>
</ngx-masonry>

<button (click)="openEditor()" mat-fab color="accent">
  <mat-icon>add</mat-icon>
</button>