.card {
    color: white;
    border: 1px solid #5f6368;
    border-radius: 8px;
    width: 240px;
    box-sizing: border-box;
    padding: 15px 15px 3px 15px;
    margin: 0 15px 15px 0;
    height: fit-content;

    .title {
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
    }

    .content {
        padding-bottom: 10px;
    }

    .actions {
        color: grey;
        opacity: 0;
        transition: opacity 0.6s ease;
        will-change: opacity;
        visibility: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &:hover .actions {
        visibility: visible;
        opacity: 1;
    }

}